---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}
<!--
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
I provide free online courses on the [YouTube](https://www.youtube.com/channel/UCgC1d4JZ1Fz4t8MWLJD464w) platform:
<br>
<ul style="list-style-type:square">
  <li>[SP4COM](https://www.eurecom.org/en/course/sp4com-2024spring) - <b>Signal Processing for Communiations</b>. EURECOM 2016</li>
  <li>[SSP](https://www.eurecom.fr/en/course/ssp-2023fall) - <b>Statistical Signal Processing</b>. EURECOM 2015</li>
</ul>

I was a teaching assistant for the following courses:
<br>
<ul style="list-style-type:square">
  <li>[SP4COM](https://www.eurecom.org/en/course/sp4com-2024spring) - <b>Signal Processing for Communiations</b>. EURECOM 2016</li>
  <li> <a href="https://www.eurecom.fr/en/course/ssp-2023fall">SSP</a> - <b> Statistical Signal Processing</b>. EURECOM 2015</li>
</ul>