---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}
<!--
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
I was / am a teaching assistant for the following courses:
<br>
<ul style="list-style-type:square">
  <!-- <li>COMP 424 - <b>Artificial Intelligence</b>. McGill University. 2020.</li>
  <li>COMP 424 - <b>Artificial Intelligence</b>. McGill University. 2019.</li>
  <li>COMP 424 - <b>Artificial Intelligence</b>. McGill University. 2018.</li>
  <li>MATH 323 - <b>Probability</b>. McGill University. 2018,2017,2016.</li>
  <li>COMP 202 - <b>Introduction to Programming</b>. McGill University. 2017</li> -->
  <li>SP4COM - <b>Signal Processing for Communiations</b>. EURECOM 2016</li>
  <li>SSP - <b>Statistical Signal Processing</b>. EURECOM 2015</li>
</ul>