---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}
<!--
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->

I am the instructor of the following courses available on <a href="https://www.youtube.com/channel/UCgC1d4JZ1Fz4t8MWLJD464w">YouTube</a>:
<br>
<ul style="list-style-type:square">
  <li> <a href="https://www.youtube.com/watch?v=SHJuGASZwlE&list=PL-DDW8QIRjNOVxrU2efygBw0xADVOgpmw&ab_channel=AhmadBazzi">CNVXOPT</a> - <b> Convex Optimization</b>. YouTube 20xx (made with ♥️ in France)</li>
  <li> <a href="https://www.youtube.com/watch?v=38u85fHxU-M&list=PL-DDW8QIRjNOfSM_LTe1o7-lg1PIuw-0R">CNVXAPP</a> - <b>Convex Optimization Applications</b>. YouTube 20xx (made with ♥️ in France)</li>
  <li> <a href="https://www.youtube.com/watch?v=a4XOelZdvDw&list=PL-DDW8QIRjNPa_dekX76dR996d2bo8Td3&pp=gAQBiAQB">DSAAs</a> - <b>Data Structures & Algorithms</b>. YouTube 20xx (made with ♥️ in Uruguay)</li> 
  <li> <a href="https://www.youtube.com/watch?v=lpSzoP0hngM&list=PL-DDW8QIRjNOOAisINpjwwnYBxBQQYv76&ab_channel=AhmadBazzi">C3PRO</a> - <b>C++ Programming</b>. YouTube 20xx (made with ♥️ in Uruguay)</li> 
  <li> <a href="https://www.youtube.com/watch?v=57qAxRV577c&list=PL-DDW8QIRjNM-q7Tu6ce6dmeTm0fS818H&ab_channel=AhmadBazzi">PYPRO</a> - <b>Python Programming</b>. YouTube 20xx (made with ♥️ in Uruguay & France)</li> 
  <li> <a href="https://www.youtube.com/watch?v=z3smaAYXYgc&list=PL-DDW8QIRjNO5h384HWnSnv2Uc9p-l1of&ab_channel=AhmadBazzi">SIGPRO</a> - <b>Signal Processing</b>. YouTube 20xx (made with ♥️ in Lebanon🇱🇧 & France🇫🇷)</li> 
</ul>
I was a teaching assistant for the following courses:
<br>
<ul style="list-style-type:square">
  <li> <a href="https://www.eurecom.org/en/course/sp4com-2024spring">SP4COM</a> - <b>Signal Processing for Communiations</b>. EURECOM 2016</li>
  <li> <a href="https://www.eurecom.fr/en/course/ssp-2023fall">SSP</a> - <b> Statistical Signal Processing</b>. EURECOM 2015</li>
</ul>

NB: My YouTube activity is currently on pause ( ♥️ )