{%- comment -%}
JSON-LD structured data.
- Person knowledge card on the homepage and any page with `is_homepage: true`.
- ScholarlyArticle on every publication page.
{%- endcomment -%}

{%- if page.url == '/' or page.is_homepage -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "@id": "{{ site.url }}{{ site.baseurl }}/#person",
  "name": "{{ site.author.name }}",
  "givenName": "Ahmad",
  "familyName": "Bazzi",
  "alternateName": "Dr. Ahmad Bazzi",
  "jobTitle": "{{ site.author.bio }}",
  "url": "{{ site.url }}{{ site.baseurl }}/",
  "image": "{{ site.url }}{{ site.baseurl }}/images/{{ site.author.avatar }}",
  "email": "mailto:{{ site.author.email }}",
  "affiliation": {
    "@type": "CollegeOrUniversity",
    "name": "New York University Abu Dhabi",
    "url": "https://nyuad.nyu.edu/",
    "parentOrganization": {
      "@type": "CollegeOrUniversity",
      "name": "New York University",
      "url": "https://www.nyu.edu/"
    }
  },
  "worksFor": {
    "@type": "CollegeOrUniversity",
    "name": "New York University Abu Dhabi",
    "url": "{{ site.author.uri }}"
  },
  "identifier": [
    {
      "@type": "PropertyValue",
      "propertyID": "Wikidata",
      "value": "Q120967938",
      "url": "https://www.wikidata.org/wiki/Q120967938"
    },
    {
      "@type": "PropertyValue",
      "propertyID": "ORCID",
      "value": "0000-0002-7645-352X",
      "url": "{{ site.author.orcid }}"
    },
    {
      "@type": "PropertyValue",
      "propertyID": "Scopus Author ID",
      "value": "57188864047",
      "url": "{{ site.author.scopus }}"
    },
    {
      "@type": "PropertyValue",
      "propertyID": "DBLP",
      "value": "{{ site.author.dblp }}",
      "url": "https://dblp.org/pid/{{ site.author.dblp }}.html"
    },
    {
      "@type": "PropertyValue",
      "propertyID": "Google Scholar",
      "url": "{{ site.author.googlescholar }}"
    },
    {
      "@type": "PropertyValue",
      "propertyID": "Semantic Scholar Author ID",
      "value": "2344210",
      "url": "https://www.semanticscholar.org/author/Ahmad-Bazzi/2344210"
    }
  ],
  "sameAs": [
    "https://www.wikidata.org/wiki/Q120967938",
    "{{ site.author.orcid }}",
    "{{ site.author.googlescholar }}",
    "{{ site.author.arxiv }}",
    "{{ site.author.researchgate }}",
    "{{ site.author.scopus }}",
    "https://dblp.org/pid/{{ site.author.dblp }}.html",
    "https://www.semanticscholar.org/author/Ahmad-Bazzi/2344210",
    "https://ahmadbazzi.alphaxiv.io/",
    "https://ieeexplore.ieee.org/author/37085661004",
    "https://nyuad.nyu.edu/en/research/postdoctoral-research/researchers/research-bios/ahmad-bazzi.html",
    "https://github.com/{{ site.author.github }}",
    "https://www.linkedin.com/in/{{ site.author.linkedin }}",
    "https://x.com/{{ site.author.twitter }}",
    "https://www.youtube.com/channel/{{ site.author.youtube }}",
    "https://www.instagram.com/{{ site.author.instagram }}/"
  ],
  "alumniOf": [
    {
      "@type": "CollegeOrUniversity",
      "name": "EURECOM",
      "url": "https://www.eurecom.fr/",
      "description": "PhD in Electrical Engineering, 2017"
    },
    {
      "@type": "CollegeOrUniversity",
      "name": "CentraleSupélec",
      "url": "https://www.centralesupelec.fr/",
      "description": "MSc in Wireless Communication Systems, 2014"
    },
    {
      "@type": "CollegeOrUniversity",
      "name": "Lebanese University",
      "description": "BSc in Electrical and Computer Engineering, 2014"
    }
  ],
  "award": [
    "Exemplary Reviewer, IEEE Open Journal of the Communications Society, 2025",
    "Top 200 Influencers in Arab World, 2023",
    "YouTube Silver Plate Creator Award, 2022",
    "Exemplary Reviewer, IEEE Transactions on Communications, 2022",
    "Exemplary Reviewer, IEEE Wireless Communications Letters, 2022",
    "Best Student Paper Award Nominee, IEEE ICASSP, 2016",
    "CIFRE Scholarship, ANRT France, 2014"
  ],
  "knowsAbout": [
    "Signal Processing",
    "Integrated Sensing and Communication",
    "Wireless Communications",
    "MIMO",
    "Deep Learning for Communications",
    "Array Processing",
    "Direction-of-Arrival Estimation"
  ]
}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "@id": "{{ site.url }}{{ site.baseurl }}/#website",
  "url": "{{ site.url }}{{ site.baseurl }}/",
  "name": "{{ site.title }}",
  "description": "{{ site.description }}",
  "author": { "@id": "{{ site.url }}{{ site.baseurl }}/#person" },
  "inLanguage": "{{ site.locale | default: 'en-US' }}"
}
</script>
{%- endif -%}

{%- if page.collection == 'publications' -%}
{%- assign pub_abstract = page.abstract | default: page.excerpt | strip_html | strip_newlines | escape_once -%}
{%- assign canonical = page.url | prepend: site.baseurl | prepend: site.url -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ScholarlyArticle",
  "headline": {{ page.title | strip_html | jsonify }},
  "name": {{ page.title | strip_html | jsonify }},
  "url": "{{ canonical }}",
  "mainEntityOfPage": "{{ canonical }}",
  {% if page.date %}"datePublished": "{{ page.date | date_to_xmlschema }}",{% endif %}
  {% if pub_abstract %}"abstract": {{ pub_abstract | jsonify }},
  "description": {{ pub_abstract | jsonify }},{% endif %}
  {% if page.keywords %}"keywords": {{ page.keywords | join: ", " | jsonify }},{% endif %}
  "inLanguage": "{{ page.language | default: 'en' }}",
  "author": [
    {% if page.authors %}{% for a in page.authors %}{
      "@type": "Person",
      "name": {{ a | jsonify }}
    }{% unless forloop.last %},{% endunless %}{% endfor %}{% else %}{
      "@type": "Person",
      "name": "{{ site.author.name }}",
      "sameAs": "{{ site.author.orcid }}"
    }{% endif %}
  ],
  {% if page.venue %}"isPartOf": {
    "@type": "Periodical",
    "name": {{ page.venue | jsonify }}{% if page.issn %},
    "issn": "{{ page.issn }}"{% endif %}{% if page.publisher %},
    "publisher": { "@type": "Organization", "name": "{{ page.publisher }}" }{% endif %}
  },{% endif %}
  {% if page.volume %}"volumeNumber": "{{ page.volume }}",{% endif %}
  {% if page.issue %}"issueNumber": "{{ page.issue }}",{% endif %}
  {% if page.firstpage %}"pageStart": "{{ page.firstpage }}",{% endif %}
  {% if page.lastpage %}"pageEnd": "{{ page.lastpage }}",{% endif %}
  {% if page.doi %}"identifier": [
    { "@type": "PropertyValue", "propertyID": "DOI", "value": "{{ page.doi }}", "url": "https://doi.org/{{ page.doi }}" }{% if page.arxiv_id %},
    { "@type": "PropertyValue", "propertyID": "arXiv", "value": "{{ page.arxiv_id }}", "url": "https://arxiv.org/abs/{{ page.arxiv_id }}" }{% endif %}
  ],
  "sameAs": "https://doi.org/{{ page.doi }}",{% elsif page.arxiv_id %}"identifier": {
    "@type": "PropertyValue", "propertyID": "arXiv", "value": "{{ page.arxiv_id }}", "url": "https://arxiv.org/abs/{{ page.arxiv_id }}"
  },
  "sameAs": "https://arxiv.org/abs/{{ page.arxiv_id }}",{% endif %}
  {% if page.paperurl %}"encoding": {
    "@type": "MediaObject",
    "contentUrl": "{{ page.paperurl }}",
    "encodingFormat": "application/pdf"
  },{% endif %}
  "publisher": {
    "@type": "Organization",
    "name": "{{ page.publisher | default: 'IEEE' }}"
  },
  "isAccessibleForFree": true,
  "creator": { "@id": "{{ site.url }}{{ site.baseurl }}/#person" }
}
</script>
{%- endif -%}